@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("./images/1024.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 768px) {
  body {
    background-image: url("./images/768.jpg");
  }
}

@media (max-width: 425px) {
  body {
    background-image: url("./images/425.jpg");
  }
}
.main{
  width: 900px !important;
  height: fit-content;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  padding: 17px;
}
.main h3{
  text-align: center;
  text-transform: capitalize;
  font-size: 2.3em;
}
.inputContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 8px;
}
.SearchWord{
  border-radius: 5px;
  width: 600px;
  height: 50px;
  text-transform: capitalize;
  font-size: 1.2em;
border: none;
border-bottom: 2px solid black !important; 
}
.inputContainer .btn{
  background-color: rgba(0, 0, 0);
  margin: 5px;
  text-transform: capitalize;
  color: #fff;
  width: 100px;
  padding: 7px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 20px;
}